@import "tailwindcss";

@theme {
    --color-pri: rgb(2, 41, 89);
    --color-pri-hover: rgb(22, 74, 138);
    --color-text-pri: rgb(150, 153, 170);
    --color-nav-bg: rgb(190, 226, 253);
    --color-input-pri: rgb(214, 217, 230);
    --color-input-focus: rgb(72, 62, 255);
    --color-error: rgb(238, 55, 74);
    --color-radio: rgb(248, 249, 255);
    --shadow-main: [0px_25px_40px_-20px_rgb(0,0,0_10)];
}